html
{
    background: linear-gradient(to right,#FFD194,#ab638e);
    height: 100%;   
    
}




#heading1
{
    transition: all .3s ease;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-size: 500%;
}

#heading2
{
    transition: all .3s ease;
    text-align: center;
    font-family:'Poppins', sans-serif;

}


#piggy
{
    transition: all .3s ease;
    display:block;
    margin: 0 auto;
    max-width: 30%;
    border-radius: 50%;
    padding: 10px;
    
    
}

.para
{
    transition: all .3s ease;
    margin-left: 70px; margin-right: 70px;
    padding: 1px;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
}

.parabold
{
    transition: all .3s ease;
    margin-left: 50px; margin-right: 50px;
    
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

#piggy:hover
{
   
    border-style: solid;
    border-width: 5px;
    border-color: rgb(78, 9, 9);
    
}

#heading1:hover,#heading2:hover
{
transform: scale(1.2)

}
